#p5-canvas-container {
    width: 80%;
    height: 100px;

    position: absolute;
    left: 50%;
    top: 25%;
    transform: translate(-50%, -50%);

    text-align: center;
}

h1 {
    color: aliceblue;

    text-align: center;
    font-family: cursive;
}

body {
    background-color: #000000;
}



.relative-div {
    left: 100px;
    position: relative;
    top: 100px;
}

button {
    background-color: rgb(255, 255, 255);
    width: 100px;
    height: 50px;
    border-radius: 20px;
}