#p5-canvas-container {
    width: 80%;
    height: 100px;

    position: absolute;
    left: 50%;
    top: 18%;
    transform: translate(-50%, -50%);

    text-align: center;
}

h1 {
    font-size: 32px;
    color: aliceblue;
    text-align: center;
    text-decoration: none;
    font-family: cursive;
}

h1:hover {

    color: rgb(146, 16, 16);
    text-decoration: none;
}

body {
    background-color: #000000;
}



.relative-div {
    left: 100px;
    position: relative;
    top: 100px;
}

button {
    background-color: rgb(255, 255, 255);
    width: 100px;
    height: 50px;
    border-radius: 20px;
}