body {
    background-color: rgb(237, 214, 169);
    font-family: "Dancing Script";
}

p {
    color: rgb(7, 19, 44);
}

h3 {
    color: rgb(93, 67, 40);
}

/* p {
    font-style: italic;
} */

/* li {
    font-style: italic;
} */

/* 
.haha {
    font-family: 'Times New Roman', Times, serif;
} */

/* .hahaha {
    background-color: rgb(239, 201, 226);
} */

/* dg */