#p5-canvas-container {

    width: 80%;
    height: 100px;

    position: absolute;
    left: 50%;
    top: 17%;
    transform: translate(-50%, -50%);

    text-align: center;
}

body {
    background-color: #000000;
}

h1 {
    color: #0c3d4a;
    text-align: center;
}

.relative-div {
    left: 100px;
    position: relative;
    top: 100px;
}