body {
    background-color: black;
}

img {
    width: 100%;
}

#p5-canvas-container {

    width: 80%;
    height: 100px;

    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);

    text-align: center;
}

h1 {
    color: aliceblue;
    text-align: center;
}

.image-container {
    position: absolute;
    top: 24%;
    left: 54%;
    transform: translate(-50%, -50%);
}


.image-container1 {
    width: 200px;
    position: absolute;
    left: 10%;
    top: 30%;
    z-index: 1
}

.image-container2 {
    width: 200px;

    position: absolute;
    left: 45%;
    top: 10%;

    z-index: 100
}

.image-container3 {
    position: absolute;

}

/* calc(50% + 200px); */