body {
    background-color: rgb(255, 255, 255);
    color: rgb(20, 7, 45);
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
}

/* title */
#title-wrapper {
    text-align: center;
    margin-top: 120px;
}

.headline {
    font-size: 4em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;
}

/* main content */
#main-wrapper {
    width: 800px;
    position: relative;
    margin: auto;
}

.red {
    color: rgb(80, 87, 186);
}

.green {
    color: rgb(46, 45, 124);
}

.yellow {
    color: rgb(37, 28, 90);
}


.two-columns {
    display: flex;
}

.left {
    width: 50%;
    padding: 0px 10px 0px 0px;
}

.right {
    width: 50%;
    padding: 0px 0px 0px 10px;
}


#footer {
    text-align: center;
    font-size: 0.7em;
    margin-top: 50px;
    padding-bottom: 40px;
}

/* Sketch placeholder */
#p5-canvas-container img {
    width: 800px;
}


/* home button */
#home-button a {
    position: fixed;
    right: 30px;
    top: 30px;
    padding: 10px 20px;
    color: rgb(21, 32, 98);
    border: solid rgb(44, 28, 68) 0.5px;
    font-size: 0.7em;
    font-weight: bold;
    text-decoration: none;
}

#home-button a:hover {
    background-color: rgb(48, 45, 81);
    color: rgb(19, 16, 52);
}